.master{
    font-family:'verdana', Times, bold;
    font-size: 30px;
}
.bodyFondo{
    background-color: black;
}

.fontColor{
    color: #53d8b0;
    font-size: 1.5rem;
}
.subTitulo{
    color:#ada15b;
    font-size: 2rem;
}
.alCentro{
    width: 100%;
    text-align: center;
    font-size: 1,5rem;
    padding:10px;
}
.estiloFooter{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
footer{
    grid-area: "footer";
}
